<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{'/css/amazeui.min.css'}" type="text/css"/>
    <link rel="stylesheet" th:href="@{'/css/admin.css'}" type="text/css"/>
</head>

<body>
<div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">通讯录</strong><small></small></div>
    </div>
    <hr>
    <form class="am-form" method="post" th:action="@{'/load'}">
        <div class="am-g">

            <div class="am-u-sm-12 am-u-md-3">
                <div class="am-input-group am-input-group-sm">
                    <input type="text" name="username" class="am-form-field" placeholder="请输入用户姓名">
                    <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="submit">搜索</button>
          </span>
                </div>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-12">
                <table class="am-table am-table-striped am-table-hover table-main">
                    <thead>
                    <tr>
                        <th class="table-check"><input type="checkbox" id="chkAll"></th>
                        <th class="table-id">ID</th>
                        <th class="table-title">姓名</th>
                        <th class="table-type">部门</th>
                        <th class="table-title">岗位</th>
                        <th class="table-set">联系方式</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="k,st:${list}">
                        <td><input type="checkbox" name="chk"></td>
                        <td th:text="${st.count+(page-1)*rows}"></td>
                        <td th:text="${k.showname}">
                        </td>

                        <td th:text="${k.NAME}">
                        </td>
                        <td th:text="${k.postname}">
                        </td>
                        <td th:text="${k.tel}">
                        </td>
                        
                    </tr>

                    </tbody>
                </table>
                <div class="am-cf">
                    共 [[${count}]] 条记录
                    <div class="am-fr">
                        <ul class="am-pagination">
                            <li>
                                <a th:href="@{|/load/1|}">«</a>
                            </li>


                            <li th:each="i:${#numbers.sequence(1,maxPage)}">
                                <a th:href="@{|/load/${i}|}">[[${i}]]</a>
                            </li>

                            <li>
                                <a th:href="@{|/load/${maxPage}|}">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
    </form>
</div>
</div>
</div>

<script type="text/javascript" th:src="@{'/js/jquery-1.11.3.min.js'}"></script>
<script type="text/javascript" th:src="@{'/myplugs/js/plugs.js'}"></script>
<script>
    $(function() {
        $("#chkAll").chkAll({
            name: "chk"
        });

        $(".btnedit").click(function() {

            $.jq_Panel({
                title: "修改用户",
                iframeWidth: 500,
                iframeHeight: 300,
                url: "/forward/updateUser"
            });
        });

        $(".btnAdd").click(function() {

            $.jq_Panel({
                title: "添加用户",
                iframeWidth: 500,
                iframeHeight: 300,
                url: "/forward/addUser"
            });

        });

    });



</script>
</body>

</html>