<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all">
    <script th:src="@{'/layui/layui.js'}"></script>
    <script th:src="@{'/addressBook.js'}"></script>
</head>
<body>
<Br>
<div>
    <div class="layui-inline">
        <input class="layui-input" name="showname" id="name" placeholder="要搜索的名字"
               autocomplete="off">
    </div>

    <button class="layui-btn" id="search">搜索</button>
    <button class="layui-btn" id="reset">重置</button>
</div>

<table id="demo" lay-filter="test"></table>



<script type="text/html" id="addDemo">
    <button class="layui-btn layui-btn-primary" lay-event="add">
        添加
    </button>
</script>


</body>
</html>