
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
    <link th:href="@{'/css/table.css'}" rel="stylesheet" type="text/css">
</head>

<body style="background-color: #e6ecf5;min-width: 1100px">
<div class="book_con01">
    <h1 class="book_h01">邮件编辑</h1>
    <form id="form_demo" th:action="@{'/mailsend'}" method="post" enctype="multipart/form-data">
        <table class="book_table" border="1" cellpadding="10">
    <tr>
        <td class="table_td" ><p>标题</p><span>*</span></td>
        <td colspan="5"><input type="text" class="book_input03" name="title"   required /></td>
    </tr>
            <tr>
                <td class="table_td table_td1"  placeholder="请输入邮箱地址（多个地址用;隔开）" ><p>邮箱地址</p><span></span></td>
                <td colspan="5">
                    <input type="text" name="toUser" class="book_input03"/>
                </td>
            </tr>


        <tr>
            <td class="table_td table_td1" ><p>上传文件</p><span></span></td>
            <td colspan="5" class="sex">
                <input type="file" name="myfile" value="上传文件"/>
            </td>
        </tr>

    <tr>
        <td class="table_td table_td1"><p>文本内容</p><span></span></td>
        <td colspan="5">


            <textarea rows="10" cols="160" name="msg"></textarea>

        </td>
    </tr>

</table>
    <p class="book_foot"><input type="submit" value="提交文本"/><input type="button" value="存为草稿"/><input type="reset" value="重置"/><input type="button" value="取消"/></p></form>
</div>
<script  th:src="@{'/js/jquery/jQuery-2.2.0.min.js'}"></script>
<script th:src="@{'/js/utf8-php/ueditor.config.js'}"></script>
<script th:src="@{'/js/utf8-php/ueditor.all.min.js'}"></script>
<script >
    var ue = UE.getEditor('editor');
    function isFocus(e){
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    function setblur(e){
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }
    function insertHtml() {
        var value = prompt('????html????', '');
        UE.getEditor('editor').execCommand('insertHtml', value)
    }
    function createEditor() {
        enableBtn();
        UE.getEditor('editor');
    }
    function getAllHtml() {
        alert(UE.getEditor('editor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("");
        arr.push("");
        arr.push(UE.getEditor('editor').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("");
        arr.push("");
        arr.push(UE.getEditor('editor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("");
        UE.getEditor('editor').setContent('??????ueditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UE.getEditor('editor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UE.getEditor('editor').setEnabled();
        enableBtn();
    }

    function getText() {

        var range = UE.getEditor('editor').selection.getRange();
        range.select();
        var txt = UE.getEditor('editor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("");
        arr.push("");
        arr.push(UE.getEditor('editor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("");
        arr.push("");
        arr.push(UE.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UE.getEditor('editor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UE.getEditor('editor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function getLocalData () {
        alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
    }

    function clearLocalData () {
        UE.getEditor('editor').execCommand( "clearlocaldata" );
        alert("")
    }
</script>
</body>
</html>
