
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>流程定义部署</h1>
	<form th:action="@{'/deploy'}" method="post" enctype="multipart/form-data">
					BPMN文件:<input type="file" name="bpmn"/><Br>
					PNG文件:<input type="file" name="png"/><Br>
						<input type="submit" value="部署"/>
				</form>

</body>
</html>