
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<style type="text/css">
	table,tr,td,th{
		border: 1px black solid;
		border-collapse: collapse;
	}
	a{
		text-decoration: none;
		color: blue;
	}
	a:hover{
		color: red;
	}
</style>
</head>
<body  style="margin: 0px" >
		<h3>运行中的流程实例</h3>
		<Table   width="100%"  align="center" border="1">
			<Tr>
				<Th>编号</Th>
				<Th>流程实例编号</Th>
				<Th>离职单名称</Th>
				<Th>详情</Th>
				<Th>经办人</Th>
				<Th>创建时间</Th>
				<Th>当前任务阶段</Th>
				<Th>查看流程图</Th>
				<Th>查看历史任务</Th>
				<Th>删除流程实例</Th>
			</Tr>
				<Tr align="center" th:each="m:${list}">
					<Td th:text="${m.id}"></Td>
					<Td th:text="${m.processInstanceId}"> </Td>
					<Td th:text="${m.name }"></Td>
					<Td th:text="${m.content }"></Td>
					<Td th:text="${m.user_id }"></Td>
					<Td th:text="${#dates.format(m.createtime,'yyyy-MM-dd HH:mm:ss')}">

					</Td>
					<Td style="color:red">

							<span th:if="${m.activityId=='createOrder'}">创建采购单</span>
							<span th:if="${m.activityId=='firstAudit'}">部门经理审核</span>
							<span th:if="${m.activityId=='secondAudit'}">总经理审核</span>
							<span th:if="${m.activityId=='thirdAudit'}">财务审核</span>
						<span th:if="${m.activityId=='forthAudit'}">人事审核</span>

					</Td>
					<Td>
						<A th:href="@{|/showActiveMap/${m.processInstanceId }|}">查看流程图</A>
					</Td>
					<Td>
						<A th:href="@{|/showHistoryTask/${m.processInstanceId }|}">查看历史任务</A>
					</Td>
					
					<Td>
						<a href="#">删除</a>
					</Td>
				</Tr>

		</Table>

</body>
</html>