
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<style type="text/css">
	table,tr,th,td{
		border: 1px black solid;
		border-collapse: collapse;
	
	}
	

</style>
</head>
<body>
<Table width="100%"  align="center" border="1">
		<Tr>
			<Th>编号</Th>
			<Th>流程定义KEY</Th>
			<Th>部署ID</Th>
			<Th>版本号</Th>
			<Th>BPMN文件</Th>
			<Th>PNG文件</Th>
			<Th>删除</Th>
		</Tr>
			<Tr th:each="m:${list}"  align="center">
				<TD th:text="${m.id}"></TD>
				<TD th:text="${m.key }"></TD>
				<TD th:text="${m.deploymentId }"></TD>
				<TD th:text="${m.version }"></TD>
				<TD>
					<a target="_blank" th:href="@{|/showResource/${m.deploymentId }/${m.resourceName }|}">查看</a>
				</TD>
				<TD>
					<a target="_blank" th:href="@{|/showResource/${m.deploymentId }/${m.diagramResourceName }|}">查看</a>
				</TD>
				<TD><A onclick="return confirm('你确定要删除吗?')" th:href="@{|/delProcessDefinition/${m.deploymentId}|}">删除</a></TD>
			</Tr>

	</Table>
</body>
</html>