
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body style="margin: 0px">
	<img style="position: absolute"
		th:src="@{|/showResource/${deploymentId}/${png}|}" />
	<div
		style="position:absolute;border-radius:12px;border:3px red solid;top:'+'${y}'+'px;left:'+'${x}'+'px;width:'+'${w-4}'+'px;height:'+'${h-4}'+'px;"></div>

</body>
</html>