
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link th:href="@{'/css/index.css'}" rel="stylesheet" type="text/css" />
    <link th:href="@{'/css/bootstrap.min.css'}" rel="stylesheet" type="text/css" />
    <link th:href="@{'/css/zTreeStyle/zTreeStyle.css'}" rel="stylesheet" type="text/css" />
</head>
<body style="border-radius: 8px;width: 680px;overflow: hidden">
<form th:action="@{'/add'}" method="get">
<div class="top">
    <div>
        <div class="top_out">
            <table class="table">
                <tbody>
                <tr>
                    <td>用户ID<span class="span">*</span></td>
                    <td><input type="text" name="userid" required   minlength ="1"></td>
                    <td>年龄<span class="span"></span></td>
                    <td><input type="text" name="age"></td>
                </tr>
                    <td>性别<span class="span"></span></td>
                    <td>
                        <select name="gender">
                            <option>男</option>
                            <option>女</option>
                        </select>
                    </td>
                    <td>生日<span class="span"></span></td>
                    <td><input type="date" name="bir"></td>
                </tr>
                <tr>
                    <td>手机<span class="span"></span></td>
                    <td><input type="text" name="tel"></td>
                    <td>入职时间<span class="span"></span></td>
                    <td><input type="date" name="ed"></td>
                </tr>
                <tr>
                    <td>邮箱<span class="span"></span></td>
                    <td><input type="email" name="postbox" required></td>
                </tr>
                <tr>
                    <td>地址<span class="span"></span></td>
                    <td colspan = "8" style="text-align: left"><textarea name="address"></textarea></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="notice_bot">
        <div class="l_left"><input type="checkbox" checked="checked"/>保存并关闭窗口</div>
        <div class="r_right but_p"><button class="but_save" type="submit">保存</button><button class="but_close" onclick="Cancel()">关闭</button></div>
    </div>
</div>
</form>
<script th:src="@{'/js/jquery-2.2.0.min.js'}"></script>
<script th:src="@{'/js/bstable/js/bootstrap.min.js'}"></script>
<script th:src="@{'/js/bstable/js/bootstrap-table.js'}"></script>
<script th:src="@{'/js/bstable/js/bootstrap-table-zh-CN.min.js'}"></script>
<script type="text/javascript" th:src="@{'/js/demo/jquery.ztree.core-3.5.js'}"></script>
<script type="text/javascript" th:src="@{'/js/ztree/jquery.ztree.excheck-3.5.js'}"></script>
<script type="text/javascript" th:src="@{'/js/ztree/jquery.ztree.exedit-3.5.js'}"></script>
<script th:src="@{'/js/organize.js'}"></script>
<script>
    function Cancel() {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }
</script>
</body>
</html>
