<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.dao.AttendanceMapper">
  <resultMap id="BaseResultMap" type="org.java.entity.Attendance">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="signintime" jdbcType="DATE" property="signintime" />
    <result column="signbacktime" jdbcType="DATE" property="signbacktime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="tab" jdbcType="VARCHAR" property="tab" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, signintime, signbacktime, remark, tab
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from attendance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from attendance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.java.entity.Attendance">
    insert into attendance (id, userid, signintime, 
      signbacktime, remark, tab
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{signintime,jdbcType=DATE}, 
      #{signbacktime,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}, #{tab,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.java.entity.Attendance">
    insert into attendance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="signintime != null">
        signintime,
      </if>
      <if test="signbacktime != null">
        signbacktime,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="tab != null">
        tab,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="signintime != null">
        #{signintime,jdbcType=DATE},
      </if>
      <if test="signbacktime != null">
        #{signbacktime,jdbcType=DATE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tab != null">
        #{tab,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.java.entity.Attendance">
    update attendance
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="signintime != null">
        signintime = #{signintime,jdbcType=DATE},
      </if>
      <if test="signbacktime != null">
        signbacktime = #{signbacktime,jdbcType=DATE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tab != null">
        tab = #{tab,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.java.entity.Attendance">
    update attendance
    set userid = #{userid,jdbcType=INTEGER},
      signintime = #{signintime,jdbcType=DATE},
      signbacktime = #{signbacktime,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      tab = #{tab,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>