<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.dao.DepartmentMapper">
  <resultMap id="BaseResultMap" type="org.java.entity.Department">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="leader" jdbcType="VARCHAR" property="leader" />
    <result column="fi" jdbcType="VARCHAR" property="fi" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, NAME, leader, fi, tel
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.java.entity.Department">
    insert into department (id, NAME, leader, 
      fi, tel)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{leader,jdbcType=VARCHAR}, 
      #{fi,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.java.entity.Department">
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="NAME != null">
        NAME,
      </if>
      <if test="leader != null">
        leader,
      </if>
      <if test="fi != null">
        fi,
      </if>
      <if test="tel != null">
        tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="leader != null">
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="fi != null">
        #{fi,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.java.entity.Department">
    update department
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="leader != null">
        leader = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="fi != null">
        fi = #{fi,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.java.entity.Department">
    update department
    set NAME = #{name,jdbcType=VARCHAR},
      leader = #{leader,jdbcType=VARCHAR},
      fi = #{fi,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getList1" resultType="department">
    select * from department
    <where>
      <if test="name!=null and name !=''">
        and name like '%${name}%'
      </if>
      <if test="leader!=null and leader !=''">
        and leader like '%${leader}%'
      </if>
    </where>
    limit #{start},#{rows}
  </select>
  <!--查询总数-->
  <select id="getCount1" resultType="int">
  select count(*) from department
  <where>
    <if test="name!=null and name !=''">
      and name like '%${name}%'
    </if>
    <if test="leader!=null and leader !=''">
      and leader like '%${leader}%'
    </if>
  </where>
  </select>
</mapper>