<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.dao.TUserMeetMapper">
  <resultMap id="BaseResultMap" type="org.java.entity.TUserMeet">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="meet_Id" jdbcType="INTEGER" property="meetId" />
    <result column="user_Id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, meet_Id, user_Id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_meet
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_meet
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.java.entity.TUserMeet">
    insert into t_user_meet (id, meet_Id, user_Id
      )
    values (#{id,jdbcType=INTEGER}, #{meetId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.java.entity.TUserMeet">
    insert into t_user_meet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="meetId != null">
        meet_Id,
      </if>
      <if test="userId != null">
        user_Id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="meetId != null">
        #{meetId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.java.entity.TUserMeet">
    update t_user_meet
    <set>
      <if test="meetId != null">
        meet_Id = #{meetId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_Id = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.java.entity.TUserMeet">
    update t_user_meet
    set meet_Id = #{meetId,jdbcType=INTEGER},
      user_Id = #{userId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>