<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.dao.UserinfoMapper">
  <resultMap id="BaseResultMap" type="org.java.entity.Userinfo">
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="postbox" jdbcType="VARCHAR" property="postbox" />
    <result column="bir" jdbcType="DATE" property="bir" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="ED" jdbcType="DATE" property="ed" />
  </resultMap>
  <sql id="Base_Column_List">
    userid, age, gender, tel, postbox, bir, address,
    ED
  </sql>
  <insert id="insert" parameterType="org.java.entity.Userinfo">
    insert into userinfo (userid, age, gender, 
      tel, postbox, bir, address, 
      ED)
    values (#{userid,jdbcType=INTEGER}, #{age,jdbcType=INTEGER}, #{gender,jdbcType=CHAR}, 
      #{tel,jdbcType=VARCHAR}, #{postbox,jdbcType=VARCHAR}, #{bir,jdbcType=DATE}, #{address,jdbcType=VARCHAR}, 
      #{ed,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="org.java.entity.Userinfo">
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="postbox != null">
        postbox,
      </if>
      <if test="bir != null">
        bir,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="ed != null">
        ED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="postbox != null">
        #{postbox,jdbcType=VARCHAR},
      </if>
      <if test="bir != null">
        #{bir,jdbcType=DATE},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="ed != null">
        #{ed,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from userinfo
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from userinfo
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="org.java.entity.Userinfo">
    update userinfo
    <set>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=INTEGER},
      </if>
      <if test="postbox != null">
        postbox = #{postbox,jdbcType=INTEGER},
      </if>
      <if test="bir != null">
        bir = #{bir,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="ed != null">
        ed = #{ed,jdbcType=VARCHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.java.entity.Userinfo">
    update userinfo
    set age = #{age,jdbcType=INTEGER},
      gender = #{gender,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      postbox = #{postbox,jdbcType=INTEGER},
      bir = #{bir,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      ed = #{ed,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
  </update>

  <select id="getList" resultType="userinfo">
    select * from userinfo
    <where>
      <if test="tel!=null and tel !=''">
        and tel like '%${tel}%'
      </if>
      <if test="postbox!=null and postbox !=''">
        and postbox like '%${postbox}%'
      </if>
    </where>
    limit #{start},#{rows}
  </select>
  <!--查询总数-->
  <select id="getCount" resultType="int">
    select count(*) from userinfo
    <where>
      <if test="tel!=null and tel !=''">
        and tel like '%${tel}%'
      </if>
      <if test="postbox!=null and postbox !=''">
        and postbox like '%${postbox}%'
      </if>
    </where>
  </select>


</mapper>